@import './btn.css';
@import './card.css';
@import './footer.css';
@import './global.css';
@import './header.css';

.response input[type="text"] {
  box-sizing: border-box;
  height: 40px;
  padding: 0 10px;
  width: 200px;
  margin: 20px 0 20px 0;
  display: block;
}

