.btn {
  background: #3A506B;
  border: 0;
  border-radius: 5px;
  color: #ffffff;
  padding: 13.5px 20px;
}

.btn-small {
  padding: 5px 20px;
}

.btn-del {
  background: #3A506B;
  border-radius: 5px;
  color: #ffffff;
}