@import './footer.css';
@import './header.css';
@import './btn.css';
@import './card.css';
@import './global.css';

.feedback-form {
  color: #0A014F;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.feedback-form textarea {
  border-color: #a5a4a4;
  border-radius: 2%;
  font-size: 0.8em;
  margin-bottom: 20px;
  padding: 16px;
  resize: none;
}