/* Global styles
--------------------------*/

body {
  font: arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.two-column-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 60px auto;
}

.two-column-container .two-col-column {
  width: 45%;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

@media(max-width: 890px) {
  .two-column-container {
    justify-content: center;
  }

  .two-column-container .two-col-column {
    width: 80%;
  }
}
