/* .Header  
---------------------------*/
.container-header {
  padding: 0 20px 0 20px;
}

.header {
  background: #3A506B;
  border-bottom: #6FFFE9 3px solid;
  color: #ffffff;
}

.header .nav-item {
  margin-left: 20px;
}

.header a {
  color: #6fffe9;
  text-transform: uppercase;
  font-size: 18px;
  padding: 10px 14px;
}

.header li, .header .nav-item {
  display: inline;
}


.header a:hover {
  color: #ACE4AA;
}

.header .container-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.container-header .nav {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.nav .btn-seek {
  height: 40px;
  border-radius: 5px;
}

.nav input[type="text"] {
  border: 1px solid #6fffe9;
  border-radius: 15px;
  box-sizing: border-box;
  height: 40px;
  padding: 0 8px;
  /* margin-right: 5px; */
}

.header .avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
} 

.dropdown .dropbtn {
  font-size: 18px;
  text-transform: uppercase;  
  border: none;
  outline: none;
  color:#6FFFE9;
  padding: 10px 14px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.nav a:hover, .dropdown:hover .dropbtn {
  border: 1px #ACE4AA solid;
  border-radius: 15px;
}

.nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #3A506B;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.nav .dropdown-content a {
  float: none;
  color: #6FFFE9;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.nav .dropdown-content a:hover {
  background-color:#3A506B;
}

.nav .dropdown:hover .dropdown-content {
  display: block;
}
@media(max-width: 890px){
  .container-header {
    flex-direction: column;
  }
}
@media(max-width: 570px) {
  .container-header {
    flex-direction: column;
  }

  .container-header h1 {
    font-size: 1.6em;
  }

  .container-header ul {
    margin: 0 0 20px;
  }

  .container-header .nav-item {
    margin-left: 5px;
  }

  .nav .btn-seek {
    height: 25px;
    border-radius: 5px;
    width: 100px;
    margin-left: 50px;
    margin-top: 5px;
  }
}
