@import './btn.css';
@import './card.css';
@import './footer.css';
@import './global.css';
@import './header.css';

.response input[type="text"] {
  box-sizing: border-box;
  height: 40px;
  padding: 0 10px;
  width: 200px;
  margin: 20px 0 20px 0;
} 

.feedback-form {
  color: #0A014F;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
} 

.feedback-form textarea {
  border-color: #a5a4a4;
  border-radius: 15px;
  font-size: 0.8em;
  margin-bottom: 20px;
  padding: 16px;
  resize: none;
}

.questions-topic {
  text-align: center;
  color: #3A506B;
}

.dropdown h3 {
  /* margin-bottom: 10px; */
  background-color:#3A506B;
  border-radius: 3px;
  color: white;
  padding: 5px;
  text-align: center;
}
.dropdown .dropdown-content {
  padding-left: 10px;
  font-size: 18px;
  
}

.dropdown .dropdown-content p {
  background: #3A506B;
  border: 1px #6fffe9 solid;
  border-radius: 9px;
  color: #ffffff;
  padding: 10px;
  font-size: 16px;
}
.dropdown .flex-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dropdown .dropdown-content {
  display: none;
  min-width: 160px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}


@media(max-width: 890px) {
  .two-column-container {
    justify-content: center;
  }
  .questions-container {
    margin-bottom: 40px;
    text-align: center;
  }

  .question .dropdown .dropdown-content {
    display: block;
  }
}

  
  